.bod {
  background-color: #CDD4E7;
}
h1 {
  color: #E5781D;
  text-align: center;
  font-size: 62px;
  font-family: 'Poiret One', cursive;
}
.record {
  padding: 10px;
}
.album-name {
  font-family: 'Poiret One', cursive;
  font-size: 36px;
}
.artist-name {
  font-family: 'Passion One', cursive;
  font-size: 28px;
}
.genre-name {
  font-family: 'Special Elite', cursive;
  font-size: 18px;
}
.price {
  padding-left: 10px;
}
